<div class="mastercontainer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img width="200" class="img-talk float-right" alt="talk_bubble" src="assets/img/talk_bubble2.png">
            </div>
            <div class="col-sm">
                <img width="300" class="img-logo" alt="Logo" src="assets/img/Logo.png">
                <div class=footer>
                    <a href='https://www.facebook.com/'><img width="30" alt="Logo" class="mt-2 mr-2 mb-2"
                            src="assets/img/fb.png"></a>
                    <a href="https://www.snapchat.com/"><img width="35" alt="Logo" class="mt-2 mr-2 mb-2"
                            src="assets/img/snapchat_logo_better.png"></a>
                    <a href="https://www.instagram.com/"><img width="30" alt="Logo" class="mt-2 mr-2 mb-2"
                            src="assets/img/instagram.png"></a>
                    <a href="https://twitter.com/"><img width="30" alt="Logo" class="mt-2 mr-2 mb-2"
                            src="assets/img/twitter.png"></a>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</div>