<div class="container">
    <div class="top">

        <div class="row">
            <div class="col">
                <h2>Where to?</h2>
            </div>
            <div class="col">
                <input type="text" class="form-control col-6 mb-2">
            </div>
        </div>


    </div>

    <div class="middle">


        <div class="row">
            <div class="col-sm middle" id="box1">
                Yelp reviews
                <img width="200" alt="Yelp" src="">
            </div>

            <div class="col-sm middle" id="box2">
                Tourpedia Attractions
                <img width="200" alt="Tourpedia_api" src="">
            </div>

            <div class="col-sm middle" id="box3">
                Skyscanner Flights
                <img width="200" alt="Skyscanner_api" src="">
            </div>


        </div>

    </div>

</div>
<div class="footer">

    <div class="row">
        <div class="col">
            <h2>When?</h2>
        </div>
        <div class="col">
           From: <input type="date" class="form-control col-4 mb-2 date"> Until: <input type="date" class="form-control col-4 mb-2 date">
        </div>
    </div>

    <div class="row">
            <div class="col">
                <h2>Weather Forecast:</h2>
            </div>
            <div class="col">
                <input type="text" class="form-control col-10 mb-2" placeholder="Weather Api forecast populates based on dates above">
            </div>
        </div>

</div>