<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pics - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">

</head>

<body>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('/assets/img/post_apoc_overgrown.jpg');">
        <img class="img-fluid d-block mx-auto" width="50" src="/assets/img/logo_dodo_zoom.jpg" alt="logo">
    </header>


    <!-- Content section -->
    <section class="py-5">
        <div class="container">
            <h1>About <img width="200" alt="STEWBIE" class="mb-2" src="assets/img/STEWBIE.png"></h1>
            <p class="lead">Here at STEWBIE, we are hopeful for the future... but just in case, we suggest you don't
                waste any time booking your travel.</p>
            <p>Climate change, natural disasters, mass species instinction, crumbling historic infrastruture, zombie
                apocalypse and a probable AI revolution may be in our future. You don’t have time to waste! Travel &
                explore the world NOW with STEWBIE, your all-in-one travel resource. See The Entire World Before It
                Ends.</p>

        </div>
    </section>

      <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('/assets/img/post_apoc_overgrown_2.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 50px;"></div>
  </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>