<p>aboutpage works!</p>
<p>Here at STEWBIE, we are hopeful for the future....but just in case, we suggest you don't waste any time booking your travel.</p>
<p>Climate change, natural disasters, mass species intinction, crumbling historic infrastruture, zombie apocalypse and a looming AI revolution may be in our future. You don’t have time to waste! Travel & explore the world NOW with STEWBIE, your all-in-one travel resource. See The Entire World Before It Ends.</p>

<img width="300" alt="dollar_sign"
src="assets/img/ufo_dodo.jpg">