 #logo_dodo{
   border-radius: 10%;
 }


.nav-item a{
  color: white;
}


.box {
  border-left: solid 5px  #1B3849;
  border-right: solid 5px  #1B3849;
  border-bottom: solid 5px  #1B3849;
  margin: auto;
  width: 100%;
  min-height: 650px;
  padding: 10px;
}
.container {
  margin: auto;
}
.btn {
  margin: 20px 5px;
}

.copyright{
  color: black;
  font-size: 8pt;
  padding: 0pt;
}