.navbar text{
  color: lightblue;
}

.box {
  border: solid 5px lightblue;
  margin: auto;
  width: 100%;
  min-height: 650px;
  padding: 10px;
}
.container {
  margin: auto;
}
.btn {
  margin: 20px 5px;
}

.copyright{
  color: black;
  font-size: 8pt;
  padding: 0pt;
}