#rate_your_trip{
    background-image: url("/assets/img/scroll_background_page.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rate_card{
    padding-top: 45pt;
}

.testimony{
    height: 400pt;
    padding: 20pt;
    background-image: url("/assets/img/post_apoc_city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews{
    margin-top: 15pt;
}
.col-first-review{
    background-color: blue;
    height: 50pt;
    border-bottom: 2pt solid black;
    color: white;
    padding-top: 5pt;
}

.col-second-review{
    background-color: red;
    height: 50pt;
    border-bottom: 2pt solid black;
    color: white;
    padding-top: 5pt;
}