<h1>Rate Your Trip</h1> (Change this font above*)

<div class="rate_card">
    <h2>Adventure:
            <img width="30" alt="mountain_peak"
            src="assets/img/mountain_peak.png">
            <img width="30" alt="mountain_peak"
            src="assets/img/mountain_peak.png">
            <img width="30" alt="mountain_peak"
            src="assets/img/mountain_peak.png">
            <img width="30" alt="mountain_peak"
            src="assets/img/mountain_peak.png">
            <img width="30" alt="mountain_peak"
            src="assets/img/mountain_peak.png">
        </h2>

    <h2>Budget:
            <img width="30" alt="dollar_sign"
            src="assets/img/dollar_sign.gif">
            <img width="30" alt="dollar_sign"
            src="assets/img/dollar_sign.gif">
            <img width="30" alt="dollar_sign"
            src="assets/img/dollar_sign.gif">
            <img width="30" alt="dollar_sign"
            src="assets/img/dollar_sign.gif">
            <img width="30" alt="dollar_sign"
            src="assets/img/dollar_sign.gif">
    </h2>

    <h2>Transportation:
            <img width="30" alt="bus"
            src="assets/img/bus.jpg">
            <img width="30" alt="bus"
            src="assets/img/bus.jpg">
            <img width="30" alt="bus"
            src="assets/img/bus.jpg">
            <img width="30" alt="bus"
            src="assets/img/bus.jpg">
            <img width="30" alt="bus"
            src="assets/img/bus.jpg">
    </h2>

    <h2>"Culture":
            <img width="30" alt="cathedral"
            src="assets/img/cathedral.jpg">
            <img width="30" alt="cathedral"
            src="assets/img/cathedral.jpg">
            <img width="30" alt="cathedral"
            src="assets/img/cathedral.jpg">
            <img width="30" alt="cathedral"
            src="assets/img/cathedral.jpg">
            <img width="30" alt="cathedral"
            src="assets/img/cathedral.jpg">
    </h2>


    <h2>Dodos:
            <img width="30" alt="dodo_logo"
            src="assets/img/logo_dodo_zoom.jpg">
            <img width="30" alt="dodo_logo"
            src="assets/img/logo_dodo_zoom.jpg">
            <img width="30" alt="dodo_logo"
            src="assets/img/logo_dodo_zoom.jpg">
            <img width="30" alt="dodo_logo"
            src="assets/img/logo_dodo_zoom.jpg">
            <img width="30" alt="dodo_logo"
            src="assets/img/logo_dodo_zoom.jpg">
    </h2>


    <img width="200" class="float-right" alt="on_the_go_dodo"
    src="assets/img/fancy_dodo.png">
    
</div>